@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1199px){
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin section-tittle($color) {
  font-family: Seymour One;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2.16px;
  color: $color;
}

@mixin section-subtittle($color) {
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 800;
  color: $color;
}
