/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu

@use './partials/main-styles';
@use './partials/vars';
@use './partials/hero';

@import './mixins';
@import './partials/advantages';
@import './partials/header';
@import './partials/gallery';
@import './partials/footer';

@import './partials/buttons';

@import './partials/products';
@import './partials/about';
@import './partials/review';

//@import './example';
