<section class="advantages">
  <h2 class="advantages-header">advantages</h2>
  <ul class="advantages-list">
    <li class="advantages-list_element">
      <svg class="advantages-icon" width="36" height="36">
        <use href=""></use>
      </svg>
      <p class="advantages-list_number">721</p>
      <p class="advantages-list_text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages-list_element">
      <svg class="advantages-icon" width="36" height="36">
        <use href=""></use>
      </svg>
      <p class="advantages-list_number">16kg</p>
      <p class="advantages-list_text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages-list_element">
      <svg class="advantages-icon" width="36" height="36">
        <use href="">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</use>
      </svg>
      <p class="advantages-list_number">84</p>
      <p class="advantages-list_text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
