<button class="products-button" data modal open>Products</button>
<button class="read-more-button" data modal open>
  Read more
  <svg class="about__read-more-btn--svg">
    <line x1="0" y1="0" x2="5" y2="5.5" stroke="#2a2a2a" stroke-width="2" />
    <line x1="0" y1="10" x2="5" y2="4.5" stroke="#2a2a2a" stroke-width="2" />
  </svg>
</button>
<button class="how-its-made-button" data modal open>How it's made?</button>
<button class="locations_button" data modal open>Our locations
<svg class="about__read-more-btn--svg">
    <line x1="0" y1="0" x2="5" y2="5.5" stroke="#2a2a2a" stroke-width="2" />
    <line x1="0" y1="10" x2="5" y2="4.5" stroke="#2a2a2a" stroke-width="2" />
    </svg>
</button>
<button class="franchise_button" data modal open>Franchise
    <svg class="about__read-more-btn--svg">
    <line x1="0" y1="0" x2="5" y2="5.5" stroke="#2a2a2a" stroke-width="2" />
    <line x1="0" y1="10" x2="5" y2="4.5" stroke="#2a2a2a" stroke-width="2" />
    </svg>
</button>
</button>
<button class="buy-now_button" data modal open>Buy now
    <svg class="about__read-more-btn--svg">
    <line x1="0" y1="0" x2="5" y2="5.5" stroke="#2a2a2a" stroke-width="2" />
    <line x1="0" y1="10" x2="5" y2="4.5" stroke="#2a2a2a" stroke-width="2" />
    </svg>
</button>
</button>
