<section class="contacts" id="contacts">
  <div class="container contacts__wrapper contacts__wrapper--moved">
    <ul class="contacts__list">
      <li class="contacts__item">
        <button class="contacts__header">cafe</button>
        <address class="address">
          <span class="address__header">Chicago</span><br />
          <a class="address__link" href="https://goo.gl/maps/STne4sjAjZ7zSHTR6"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <div class="contacts__line"></div>
        <ul class="contacts__opening">
          <li class="contacts__days">
            Monday - Friday<br /><span class="contacts__hours">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contacts__days">
            Saturday - Sunday<br /><span class="contacts__hours">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <div class="contacts__line"></div>
        <ul class="contacts__touch">
          <li><a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
          <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="contacts__item">
        <button class="contacts__header">foodtrack</button>
        <address class="address">
          <span class="address__header">Los Angeles</span><br />
          <a class="address__link" href="https://goo.gl/maps/VBDssGxzNaqiNqQP7"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <div class="contacts__line"></div>
        <ul class="contacts__opening">
          <li class="contacts__days">
            Monday - Friday<br /><span class="contacts__hours">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contacts__days">
            Saturday - Sunday<br /><span class="contacts__hours">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <div class="contacts__line"></div>
        <ul class="contacts__touch">
          <li><a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
          <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="contacts__item">
        <button class="contacts__header">cafe</button>
        <address class="address">
          <span class="address__header">New York</span><br />
          <a class="address__link" href="https://goo.gl/maps/vRBaTHnEo7QvAA4T8"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <div class="contacts__line"></div>
        <ul class="contacts__opening">
          <li class="contacts__days">
            Monday - Friday<br /><span class="contacts__hours">06:00 AM - 10:00 PM</span>
          </li>
          <li class="contacts__days">
            Saturday - Sunday<br /><span class="contacts__hours">08:00 AM - 16:00 PM</span>
          </li>
        </ul>
        <div class="contacts__line"></div>
        <ul class="contacts__touch">
          <li><a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
          <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
  <div class="contacts__buttons">
    <button data-modal-open class="button-our-location " type="button">
  Our location
  <svg height="12px" width="12px">
    <use href="./images/icons-ice_cream.svg#icon-arrow-right-bold"></use>
  </svg>
  </button>
  <!-- <button class="button-our-location--disabled" type="button" disabled>
  Our location
  <svg height="10px" width="6px">
    <use href="./images/icons-ice_cream.svg#icon-arrow-right-bold"></use>
  </svg>
</button> -->




  <button data-modal-open class="button-franchise" type="button">Franchise</button>
  <!-- <button class="button-franchise--disabled" type="button" disabled>Franchise</button> -->
   </div>

   
  


   <div class="backdrop is-hidden" data-modal="location">
     <div class="modal-location"><button type="button" class="close-btn" data-modal-close>
        <svg class="xclose" width="20px" height="20px">
          <use href="./images/icons-ice_cream.svg#icon-icon-close"></use>
        </svg>
      </button>
      <h3 class="modal-location__header">Our Location</h3>
      <iframe width="224px" height="199px" class="modal-location__map" src="https://goo.gl/maps/STne4sjAjZ7zSHTR6"></iframe>

      <button data-modal-open class="modal-location__button" type="button">
  Open map</button></div>

    <div class="modalSignup">
      <button type="button" class="close-btn" data-modal-close>
        <svg class="xclose" width="20px" height="20px">
          <use href="./images/icons-ice_cream.svg#icon-icon-close"></use>
        </svg>
      </button>

    <form class="modalSignup__form">
      <h3 class="modalSignup__header">Thank you for your interest in owning an Ice Cream shop</h3>

       <p class="modalSignup__text">Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once the application process resumes, we will contact you for further information. Please fill out the contact information below and we will reach out for additional information. We appreciate your patience.</p>
      <label class="modalSignup__label">
        <input type="name" minlength="3" name="username" class="modalSignup__input" placeholder="Name" />
      </label>

      <label class="modalSignup__label">
        <input type="tel" name="phone-number" placeholder="Phone" class="modalSignup__input"required/>
      </label>

       <label class="modalSignup__label">
         <input type="email"
              name="user-email"
              class="modalSignup__input"
              placeholder="Email"
              required />
        </label>
 
        <label class="modalSignup__label">
        <textarea
        name="comment"
        rows="3"
        class="modalSignup__textarea"
        placeholder="Comment"
        ></textarea>
        </label>    
          <button type="button" class="modalSignup__button">Signup</button>
          </form>
   </div>
</section>
