<header class="header">
  <svg class="header__logo">
    <use href="./images/icons-ice_cream.svg#icon-Logo"></use>
  </svg>

  <div class="header__wrapper">
    <button class="header__menu">
      <svg class="header__icon">
        <use href="./images/icons-ice_cream.svg#icon-eva_menu-fill"></use>
      </svg>
    </button>
    <button class="buy-now">
      <span class="buy-now__text">Buy now</span>
      <svg class="buy-now__svg">
        <use href="./images/icons-ice_cream.svg#icon-arrow-right-bold"></use>
      </svg>
    </button>
  </div>
</header>
