<section class="hero">
  <div class="hero__box">
    <h1 class="hero__title">ice cream made with passion</h1>

    <menu class="hero__menu">
      <li class="hero__products"><a>Products</a></li>
      <li class="hero__how-made"><a> How it&apos;s made?</a></li>
    </menu>
    <aside class="hero__aside">
      <div class="hero__aside-item">
        <span class="hero__number">16</span>
        <span class="hero__span">cafes</span>
      </div>
      <div class="hero__aside-item">
        <span class="hero__number">23</span>
        <span class="hero__span">food trucks</span>
      </div>
    </aside>
  </div>
  <div class="hero__img-group">
    <img
      class="hero__plate-img"
      src="./images/header/plate-tablet-1x.png"
      srcset="./images/header/plate-tablet-1x.png 1x, ./images/header/plate-tablet-2x.png 2x"
      sizes="(min-width: 1200px) 456px ,(min-width: 768px), 100vw"
    />

    <p class="hero__text">
      Indulge in a scoop of ice cream made with passion and treat your taste buds to an
      unforgettable experience!
    </p>

    <img
      class="hero__main-img"
      src="./images/header/mobile-1x.png"
      srcset="
        ./images/header/mobile-1x.png 1x,
        ./images/header/mobile-2x.png 2x,
        ./images/header/tablet-1x.png 1x,
        ./images/header/tablet-2x.png 2x
      "
      sizes="(min-width: 1200px) 456px ,(min-width: 768px) 268px, (min-width:480px) 218px, 100vw"
    />
    <svg class="hero__dots-mobile">
      <use href="./images/icons-ice_cream.svg#icon-kropki-mobile"></use>
    </svg>
    <svg class="hero__dots-tablet">
      <use href="./images/icons-ice_cream.svg#icon-kropki-tablet"></use>
    </svg>
  </div>
</section>
