<section class="hero">
  <h1 class="hero__title">ice cream made with passion</h1>
  <menu class="hero__menu">
    <li class="hero__products"><a>Products</a></li>
    <li class="hero__how-made"><a> How it&apos;s made?</a></li>
  </menu>
  <div class="hero__img-group">
    <img
      class="hero__main-img"
      src="./images/header/mobile-1x.png"
      srcset="
        ./images/header/mobile-1x.png     1x,
        ./images/header/mobile-2x.png     2x,
        ./images/header/mobile-480-1x.png 1x,
        ./images/header/mobile-480-2x.png 2x
      "
      sizes="(min-width: 1200px) 456px ,(min-width: 768px) 268px, (min-width:480px) 218px, 100vw"
    />
    <svg class="hero__dots-svg">
      <use href="./images/icons-ice_cream.svg#icon-kropki-mobile"></use>
    </svg>
  </div>
</section>
