<section class="products">
  <div class="container">
  <p class="products__label" id="100% natural">100% natural</p>
  <h2 class="products__title">products</h2>
  <ul class="products__list">
  <li class="products__item products__item--ice-cream">
    <h3 class="products__name">ice cream</h3>
    <p class="products__text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
    <button class="products__button" type="button" data-modal-open>
      <svg width="40" height="16"><use href="./images/icons-ice_cream.svg#icon-Arrow"></use></svg>
    </button>
  </li>
  <li class="products__item products__item--ice-coffee">
    <h3 class="products__name">ice coffee</h3>
    <p class="products__text">
      Fragrant invigorating drink created from 100% natural ingredients without the use of
      preservatives and flavor enhancers
    </p>
    <button class="products__button" type="button" data-modal-open>
      <svg width="40" height="16"><use href="./images/icons-ice_cream.svg#icon-Arrow"></use></svg>
    </button>
  </li>
  <li class=" products__item products__item--milkshakes">
    <h3 class="products__name">milkshakes</h3>
    <p class="products__text">
      Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other
      sweets of your choice
    </p>
    <button class="products__button" type="button" data-modal-open>
      <svg width="40" height="16"><use href="./images/icons-ice_cream.svg#icon-Arrow"></use></svg>
    </button>
  </li>
  </ul>
  </div>
</section>

<!--modal-->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__close" data-modal-close>
      <svg class="close-icon" width="11" height="11">
        <use href="./images/icons-ice_cream.svg#icon-icon-close"></use>
      </svg>
    </button>
    <p class="modal__title">Chololate icecream</p>
    <img class="modal__img" alt="gałka lodów czekoladowych" src="./images/products/products-modal@1x.png"/>
<div>
<ul class="value">
      <li class="value__item">
        <div class="value__roundborder">
          <span class="value__number">320</span>
          <div><span class="value__legend">kcal</span></div>
        </div>
      </li>
      <li class="value__item">
        <div class="value__roundborder">
          <span class="value__number">4g</span>
          <div><span class="value__legend">Prote...</span></div>
        </div>
      </li>
      <li class="value__item">
        <div class="value__roundborder">
          <span class="value__number">8,2g</span>
          <div><span class="value__legend">Fats</span></div>
        </div>
      </li>
      <li class="value__item">
        <div class="value__roundborder">
          <span class="value__number">40,4g</span>
          <div><span class="value__legend">Carbs</span></div>
        </div>
      </li>
    </ul>
    <p class="ingredients">Ingredients</p>
    <div class="ingredients__box">
  <div class="ingredients__item"><span>Milk</span><span>100ml</span></div>
      <div class="ingredients__item"><span>Belgian chocolate</span><span>20g</span></div>
      <div class="ingredients__item"><span>Cream</span><span>150ml</span></div>
      <div class="ingredients__item"><span>Cocoa powder</span><span>30g</span></div>
      <div class="ingredients__item"><span>Sugar</span><span>40g</span></div>
      <div class="ingredients__item"><span>Vanilla sugar</span><span>10g</span></div>
  </div>
    
    <form action="javascript:void(0);" method="POST"></form>
    <form class="modal__form">
          <input class="modal__input" type="text" name="name" id="user-name" placeholder="Name"required />
          <input class="modal__input" type="tel" name="phone" id="user=phone" placeholder="Phone"required />

        <textarea
          class="modal__feedback"
          name="feedback"
          id="user-feedback"
          placeholder="Comment"
        ></textarea>
      </label>
      <button class="modal__button" type="submit">Submit</button>
    </form>
  </div>
</div>
