advantages-header {
  opacity: 0;
}
advantages-list {
  display: flex;
  width: 368px;
  height: 52px;
  flex-direction: column;
  flex-shrink: 0;
  &_number {
    color: #fcfcfc;
    text-align: center;
    font-size: 58px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.32px;
  }
  &_text {
    color: #fcfcfc;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 176%;
  }
}
