@import '../mixins';
@import './vars';

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}
.contacts {
  background-color: #84a178;

  list-style: none;
  height: 1499px;
  @include tablet {
    height: 768px;
  }
  @include desktop {
    height: 1200px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include tablet {
      flex-direction: column;
      gap: 40px;
    }
    @include desktop {
      flex-direction: column;
      gap: 60px;
    }
    &--moved {
      padding-top: -349px;

      @include tablet {
        top: -299px;
      }
      @include desktop {
        top: -128px;
      }
    }
  }

  &__header {
    display: block;
    background-color: #f8d24e;
    border-radius: 6px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 4px 22px;
    margin-bottom: 20px;

    @include tablet {
      padding: 4px 13px;
      font-size: 16px;
      margin-bottom: 32px;
    }
    @include desktop {
      padding: 4px 14px;
      line-height: 1.4;
      font-size: 16px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    list-style: none;
    padding: 0 15px;

    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
    @include desktop {
      flex-direction: row;
      gap: 32px;
    }
  }
  &__item {
    width: 280px;
    height: 412px;
    border-radius: 10px;
    background-color: #fcfcfc;
    padding: 40px 32px;

    @include tablet {
      width: 224px;
      height: 537px;
      padding: 40px 24px;
    }
    @include desktop {
      width: 368px;
      height: 542px;
      padding: 40px 40px;
    }
  }
  &__opening {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin-bottom: 24px;
  }
  &__line {
    width: 100%;
    border: 0.4 solid #e1e1e1;
    margin-bottom: 24px;
    text-align: left;

    @include tablet {
      margin-bottom: 32px;
    }
    @include desktop {
      margin-bottom: 32px;
    }
  }
  &__days {
    font-size: 12px;
    line-height: 1.86;
    font-weight: 500;
  }
  &__hours {
    font-size: 12px;
    line-height: 1.86;
    color: #ababab;
  }
  &__touch {
    list-style: none;
    padding-left: 0;
    gap: 4px;
  }
  &__link {
    text-decoration: none;
    color: $textBlack;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 600;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    align-items: center;
    @include tablet {
      flex-direction: row;
      margin: 0 auto;
    }
    @include desktop {
      margin-top: 0 auto;
    }
  }
}
.address {
  width: auto;
  height: 70px;
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 32px;
    height: 71px;
  }
  @include desktop {
    margin-bottom: 32px;

    height: 50px;
  }
  &__header {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    font-weight: 700;
  }
  &__link {
    font-size: 12px;
    color: #d6936d;
    text-decoration: none;
    @include tablet {
      font-size: 14px;
      line-height: 1.83;
      letter-spacing: 0.04em;
      font-weight: 500;
    }
    @include desktop {
      font-size: 16px;
      letter-spacing: 0.04em;
      line-height: 1.83;
    }
  }
}
.modalSignup__form {
  position: absolute;
  width: calc(100% - 30px);
  max-width: 450px;
  height: auto;
  background-color: #84a178;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  opacity: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: visible;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
