@import '../mixins';
@import './vars';

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;

  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }
}
.contacts {
  background-color: #84a178;
  position: relative;
  list-style: none;
  height: 1100px;
  @include tablet {
    height: 420px;
  }
  @include desktop {
    height: 620px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include tablet {
      flex-direction: column;
      gap: 40px;
    }
    @include desktop {
      flex-direction: column;
      gap: 60px;
    }
    &--moved {
      position: absolute;
      top: 340px;
      left: 50%;
      transform: translate(-50%, -50%);

      @include tablet {
        top: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      @include desktop {
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__header {
    display: block;
    background-color: #f8d24e;
    border-radius: 6px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 4px 22px;
    margin-bottom: 20px;

    @include tablet {
      padding: 4px 13px;
      font-size: 14px;
      margin-bottom: 32px;
    }
    @include desktop {
      padding: 4px 14px;
      line-height: 1.4;
      font-size: 16px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    list-style: none;
    padding: 0 15px;

    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
    @include desktop {
      flex-direction: row;
      gap: 32px;
    }
  }
  &__item {
    width: 280px;
    height: auto;
    border-radius: 24px;
    background-color: #fcfcfc;
    padding: 40px 32px;
    box-shadow: 0 8px 30px rgba(212, 20, 67, 0.1);

    @include tablet {
      width: 224px;
      height: auto;
      padding: 40px 24px;
    }
    @include desktop {
      width: 368px;
      height: auto;
      padding: 40px 32px;
    }
  }
  &__opening {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin-bottom: 24px;
  }
  &__line {
    width: 100%;
    border: 0.4 solid #e1e1e1;
    margin-bottom: 24px;
    text-align: left;
    margin-top: 24px;

    @include tablet {
      margin-top: 32px;
      margin-bottom: 32px;
    }
    @include desktop {
      margin-bottom: 32px;
      margin-top: 32px;
    }
  }
  &__days {
    font-size: 12px;
    line-height: 1.86;
    font-weight: 500;
  }
  &__hours {
    font-size: 12px;
    line-height: 1.86;
    color: #ababab;
  }
  &__touch {
    list-style: none;
    padding-left: 0;
    gap: 4px;
  }
  &__link {
    text-decoration: none;
    color: $textBlack;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 600;

    @include tablet {
      font-size: 14px;
      line-height: 1.5;
    }
    @include desktop {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;

    align-items: center;
    @include tablet {
      flex-direction: row;
      margin: 0 auto;
    }
    @include desktop {
      margin-top: 0 auto;
    }
  }
}
.address {
  width: auto;
  height: 70px;

  @include tablet {
    height: 71px;
  }
  @include desktop {
    height: 50px;
  }
  &__header {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    font-weight: 700;
  }
  &__link {
    font-family: 'Montserrat', sans-serif;
    color: #d6936d;
    text-decoration: none;

    @include tablet {
      font-size: 14px;
      line-height: 1.83;
      letter-spacing: 0.04em;
      font-weight: 500;
      margin-bottom: 32px;
    }
    @include desktop {
      font-size: 16px;
      letter-spacing: 0.04em;
      line-height: 1.83;
      margin-bottom: 32px;
    }
  }
}
.modalSignup__form {
  position: absolute;
  width: calc(100% - 30px);
  max-width: 450px;
  height: auto;
  background-color: #84a178;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  opacity: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  visibility: visible;
}
.backdrop .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-location {
  visibility: hidden;
  display: block;
  background-color: #fcfcfc;
  width: 280px;
  height: 365px;
  padding: 28px;
  border: 2px solid #f8d24e;
  border-radius: 7px;
  position: relative;

  &__header {
    text-align: center;
    margin: 0 auto 24px;
  }
  &__button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 134px;
    height: 42px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background: #f8d24e;
    margin: 0 auto;
    &:hover {
      background-color: #0a8817;
    }
    &:focus {
      background-color: #0a8817;
      color: #fcfcfc;
      fill: #fcfcfc;
    }
  }
  &__map {
    margin-bottom: 24px;
  }
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  color: $textBlack;
  border: none;
}
