@import '../mixins';

.footer {
  background-color: #84a278;
  padding-bottom: 20px;
  font-size: 12px;

  &__line {
    border: 0.4 solid #e1e1e1;
    text-align: left;
    margin-bottom: 24px;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 12px;
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }

  //&__container {
  //padding-bottom: 40px;

  //@media screen and (min-width: 768px) {
  //margin-bottom: 38px;
  //justify-content: space-around;
  //}
  //@media screen and (min-width: 1200px) {
  // margin-bottom: 40px;
  // display: flex;
  //justify-content: space-between;
  //}
  //}
  &__social {
    display: flex;
    flex-direction: column;
  }
  &__title {
    display: flex;
    flex-direction: column;
  }

  &__label {
    color: #fcfcfc;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.4;
    width: 232px;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      width: 352px;
      flex-direction: row;
      font-size: 26px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      font-weight: 400;
      font-size: 30px;
      width: 100%;
    }
  }

  &__heading {
    font-size: 34px;
    color: #fcfcfc;
    font-weight: 700;
    letter-spacing: 1.36px;
    text-transform: uppercase;
    margin-top: 0;
    text-align: left;
    flex-direction: column;
    max-width: 200px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
      display: flex;
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 2.88px;
      width: 352px;
      height: 183px;
      text-align: left;
    }
    @media screen and (min-width: 1200px) {
      font-weight: 700;
      letter-spacing: 3.48px;
      flex-direction: row;

      font-size: 58px;

      height: 122px;
      text-align: left;
      width: 500px;
      max-width: 500px;
    }
  }
  &__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    margin-top: auto;

    @media screen and (min-width: 768px) {
      gap: 30px;
      margin-bottom: 34px;
      margin-top: -250px;
    }
    @media screen and (min-width: 1200px) {
      gap: 30px;
      justify-content: flex-end;
      margin-bottom: 40px;
      margin-top: -230px;
    }
  }

  &__social-item {
    transition-property: fill, background-color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);
    border-radius: 50%;
    overflow: hidden;
    width: 34px;
    height: 34px;
  }

  &__social-link {
    transition-property: fill, background-color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    cursor: pointer;
  }

  &__social-icon {
    display: block;
    flex-shrink: 0;
    background-color: #f8d24e;
    fill: #84a278;
    width: 34px;
    height: 34px;
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    border-radius: 25%;

    &:hover,
    &:focus {
      fill: #e1e1e1;
    }
  }

  &__contact {
    color: #131313;
    text-align: right;
    font-weight: 700;
    line-height: 1.86;
    text-decoration: none;
    text-align: right;
    font-size: 12px;
    padding-bottom: 40px;
  }
  &__contact-link {
    color: #fcfcfc;
    text-decoration: none;
  }

  &__copyright {
    color: #7a7a7a;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 280px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      margin-top: 12px;
      margin-bottom: 12px;
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 12px;
      padding-bottom: 12px;
      flex-wrap: wrap;
      margin: 0 auto;
    }
  }
}

.container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  //@include mobile {
  //max-width: 480px;
  //@include tablet {
  //max-width: 768px;
  //display: flex;

  // justify-content: space-between;
  //align-items: flex-start;
  //}
  //@include desktop {
  //max-width: 1200px;
  //display: flex;

  //justify-content: space-between;
  //align-items: flex-start;
  //}
  //}
}
