.gallery {
  max-width: 240px;
  background-image: url('../images/demo.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 767px;
  margin: 0 auto;
}
