@import '../mixins';

.container {
  
  max-width: 380px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
  }  
 }


.gallery {
  background-image: url(../images/Backgroud_mobile@1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding-bottom: 450px;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/Backgroud_mobile@2x.jpg);
  }
  @include tablet {
    background-image: url(../images/Background_tablet@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/Background_tablet@2x.jpg);
    }
  }
  @include desktop {
    background-image: url(../images/Backgroud_desktop@1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/Backgroud_desktop@2x.jpg);
    }
  }
}

  .loop {
--time: 8s;
display: grid;
margin: 0 auto;
padding-bottom: 80px;
justify-items: center;
place-content: center;

      
      &__image {        
      padding-left: 20px;
      padding-right: 20px;      
      border-radius: 8px;
      border: hidden;
      margin: 0 auto;
      margin-top:-39px;  
      width: 100%;
      height: auto;
      min-width: 380px;
      max-width: 767px;
      padding-bottom: 119px;
  
      
    @include tablet {
    min-width: 768px;
    max-width: 1199px;       
    margin-top:-80px;    
    padding-bottom: 80px;    
    }

    @include desktop {
    min-width: 1200px;    
    margin-top:-127px;
        
    
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .loop img {   
    grid-area: 1/1;
    animation: rotate calc(var(--time) * 3) linear 0s infinite;
  }
   
  .loop img:nth-child(2) { animation-delay: calc(var(--time) * -2); }
  .loop img:nth-child(3) { animation-delay: calc(var(--time) * -1); }
}

@keyframes rotate {
   /* 33.33%  (100% / number of images) */
   0%, 33.33% { opacity: 1; }
   /* 33.34%  (100% / number of images) + 0.01 */
   33.34%, 100% { opacity: 0; }  
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  max-height: 300px;
  

    @include tablet 
    { max-width: 705px;
    height: auto;
    margin: 0 auto;
    }

    @include desktop 
    {max-width: 968px;
    height: auto;
    margin: 0 auto;
    }

  &-pagination {
    width: 72px;
    
    &-bullet {
      width: 12px;
      height: 12px;
    }

    &-bullet-active {
      background-color: #84a178;
    }
  }
  //
  //&__slide {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //margin: 0;
  //padding-bottom: 12px;
  //}
}

.review {
  display: flex;
  justify-content: center;  
  padding-top: 32px;
  padding-bottom: 12px;
  
  

  // &__list {
  // list-style: none;
  //padding: 0;
  //justify-content: center;
  //width: 280px;
  //padding-bottom: 12px;
    //}

  &__pic {
    display: flex;
    justify-content: center;
    margin: auto; 
    border-radius: 50%;
    margin-bottom: 32px;
    width: 84px;
    
  }

  &__opinion {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 32px;
    background: #84a178;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-right: 39px;
    padding-left: 39px;
    color: #fcfcfc;
    
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 2.25em;

    //margin-right: 15px;
    //margin-left: 15px;
    

    @include tablet {
      font-size: 14px;
      letter-spacing: 0.56px;
      border-radius: 24x;
      padding-bottom: 29px;
      padding-top: 28px;
      padding-right: 80px;
      padding-left: 80px;
      width: 705px;
      margin: auto;
    }

    @include desktop {
      font-size: 16px;
      letter-spacing: 0.64px;
      //padding-bottom: 43px;
      //padding-top: 43px;
      //padding-right: 109px;
      //padding-left: 109px;
      border-radius: 24px;
      width: 968px;
      margin: auto;
    }
  }

  &__name {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 500;
    padding-top: 32px;
    padding-bottom:12px;
    margin-bottom: 50px;
    margin-bottom: 20px;
    

    @include tablet {
      font-size: 16px;
    }

    @include desktop {
      font-size: 16px;
    }
  }
}
