@import '../mixins';
@import './vars';

.hero {
  background-color: $firstBrandColor;

  &__box {
    padding-top: 50px;
    padding-right: calc((100% - 280px) / 2);
    padding-left: calc((100% - 280px) / 2);

    @include mobile {
      padding-top: 40px;
      padding-right: calc((100% - 440px) / 2);
      padding-left: calc((100% - 440px) / 2);
    }

    @include tablet {
      padding-top: 16px;
      padding-right: calc((100% - 704px) / 2);
      padding-left: calc((100% - 704px) / 2);
    }

    @include desktop {
      padding-top: 45px;
      padding-right: calc((100% - 1168px) / 2);
      padding-left: calc((100% - 1168px) / 2);
    }
  }

  &__title {
    display: block;
    margin: 0;
    color: $textWhite;
    font-size: 26px;
    font-family: Seymour One;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    font-weight: 400;
    width: 247px;
    height: 97px;

    @include desktop {
      font-size: 38px;
      width: 367px;
      height: 144px;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 12px;
    padding-top: 32px;
    margin-top: 0px;
    padding-left: 0px;
    padding-bottom: 19px;
    margin: 0px;

    @include mobile {
      padding-bottom: 0px;
    }

    @include tablet {
      padding-top: 24px;
    }
    @include desktop {
      padding-top: 28px;
    }
  }

  &__products {
    display: block;
    width: 108px;
    height: 38px;
    border-radius: 8px;
    border: 2px solid $secondaryBrandColor;
    text-align: center;
    padding-top: 11px;
    font-size: 12px;
    font-weight: 600;
    z-index: 40;

    &:hover {
      border-color: #0a8817;
    }
    &:focus {
      border-color: #0a8817;
      color: #fcfcfc;
    }
    &--disabled {
      border-color: #ababab;
      pointer-events: none;
      color: #000000;
    }

    @include desktop {
      padding-top: 12px;
      font-size: 14px;
      width: 134px;
      height: 42px;
    }
  }
  &__products-link {
    color: #131313;
    text-decoration: none;
  }

  &__how-made {
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
    padding-top: 11px;
    z-index: 40;

    &:hover {
      color: #0a8817;
    }
    &:focus {
      color: #fcfcfc;
    }
    &--disabled {
      color: #ababab;
      pointer-events: none;
    }

    @include desktop {
      padding-top: 12px;
      font-size: 14px;
      width: 134px;
      height: 42px;
      text-align: center;
    }
  }

  &__about-link {
    color: $secondaryBrandColor;
  }

  &__aside {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;
      position: absolute;
      gap: 20px;
      right: calc((100% - 704px) / 2);
      top: 94px;
    }
    @include desktop {
      right: calc((100% - 1168px) / 2);
      top: 126px;
    }
  }

  &__aside-item {
    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  &__number {
    color: $textBlack;
    text-align: right;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1.12px;

    @include desktop {
      font-size: 46px;
    }
  }

  &__span {
    color: $textWhite;
    text-align: right;
    font-size: 8px;
    font-weight: 400;

    @include desktop {
      font-size: 14px;
    }
  }

  &__img-group {
    position: relative;
    height: 217px;

    @include mobile {
      height: 150px;
    }

    @include tablet {
      height: 176px;
    }

    @include desktop {
      height: 332px;
    }
  }

  &__plate-img {
    display: none;

    @include tablet {
      display: inline-block;
      margin-left: calc((100% - 704px) / 2);
      padding-top: 12px;
      position: relative;
      z-index: 98;
    }

    @include desktop {
      margin-left: calc((100% - 1168px) / 2);
      padding-top: 42px;
    }
  }

  &__text {
    display: none;

    @include tablet {
      display: inline-block;
      position: absolute;
      margin-left: 32px;
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      line-height: 140%;
      width: 165px;
      padding-top: 27px;
      margin-top: 0px;
    }

    @include desktop {
      margin-left: 16px;
      font-size: 14px;
      width: 200px;
      padding-top: 109px;
      margin-top: 0px;
    }
  }

  &__arrow {
    display: none;

    @include tablet {
      fill: $textWhite;
      width: 40px;
      height: 16px;
      display: block;
      margin-top: 29px;
    }

    @include desktop {
      margin-top: 24px;
    }
  }

  &__main-img {
    position: absolute;
    bottom: 0px;
    right: 60px;
    z-index: 99;
    width: 177px;
    height: 217px;

    @include mobile {
      width: 218px;
      height: 267px;
      right: calc((100% - 440px) / 2);
    }

    @include tablet {
      width: 268px;
      height: 329px;
      right: calc((100% - 704px) / 2 + 60px);
    }

    @include desktop {
      width: 456px;
      height: 560px;
      right: calc((100% - 1168px) / 2 + 76px);
    }
  }

  &__dots-mobile {
    position: absolute;
    width: 320px;
    height: 50px;
    bottom: 0px;
    right: 0px;

    @include mobile {
      right: calc((100% - 440px) / 2 - 20px);
    }

    @include tablet {
      display: none;
    }
  }

  &__dots-tablet {
    display: none;

    @include tablet {
      display: flex;
      position: absolute;
      width: 768px;
      height: 67.8px;
      bottom: 0px;
      left: calc((100% - 704px) / 2 - 32px);
    }

    @include desktop {
      display: none;
    }
  }

  &__dots-desktop {
    display: none;

    @include desktop {
      display: flex;
      position: absolute;
      bottom: 0px;
      left: calc((100% - 1168px) / 2 - 16px);
    }
  }
}
