.products {
  background-image: url(./images/Backgroud_mobile\ 1x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  align-items: center;

  &__label {
    color: #131313;
  }
  &__title {
    color: #131313;
  }
}

.ice-cream__title::before {
  content: url(./images/products/ice-cream_480\ 1x.jpg);
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
