/*.swiper {
  justify-content: center;

  padding: 0;

  padding-top: 80px;

  &-pagination {
    width: 72px;

    &-bullet {
      width: 12px;
      height: 12px;
    }

    &-bullet-active {
      background-color: #84a178;
    }
  }
  //width: 600px;
  //height: 300px;

  //&__slide {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //margin: 0;
  //}
}

.review {
  display: flex;

  justify-content: center;
  padding: 0;

  // &__list {
  // list-style: none;
  //padding: 0;
  //justify-content: center;
  //width: 280px;
  //}

  &__pic {
    display: flex;

    justify-content: center;
    margin: auto;

    border-radius: 50%;
    margin-bottom: 32px;
    width: 84px;
  }

  &__opinion {
    display: flex;

    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 32px;
    background: #84a178;

    padding-bottom: 35px;
    padding-top: 35px;
    padding-right: 39px;
    padding-left: 39px;

    color: #fcfcfc;
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    letter-spacing: 0.04em;
    line-height: 2.25em;

    margin-right: 15px;
    margin-left: 15px;

    @include tablet {
      font-size: 14px;
      letter-spacing: 0.56px;
      border-radius: 24x;
      padding-bottom: 29px;
      padding-top: 28px;
      padding-right: 80px;
      padding-left: 80px;

      width: 705px;
      margin: auto;
    }

    @include desktop {
      font-size: 16px;
      letter-spacing: 0.64px;
      padding-bottom: 43px;
      padding-top: 43px;
      padding-right: 109px;
      padding-left: 109px;

      border-radius: 24px;
      width: 968px;
      margin: auto;
    }
  }

  &__name {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 500;
    padding-top: 32px;
    margin-bottom: 50px;

    @include tablet {
      font-size: 16px;
    }

    @include desktop {
      font-size: 16px;
    }
  }
}
*/