//.swiper {
//display: flex;
//width: 600px;
//height: 300px;
//}

.review {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  padding: 0;
  justify-content: center;
  &__list {
    list-style: none;
  }

  &__slide {
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    margin: 0;
  }

  &__pic {
    display: flex;

    justify-content: center;
    margin: auto;

    border-radius: 50%;
    margin-bottom: 32px;
    width: 84px;
  }

  &__opinion {
    //display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 32px;
    background: #84a178;

    padding-bottom: 35px;
    padding-top: 35px;
    padding-right: 39px;
    padding-left: 39px;

    color: #fcfcfc;
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

    letter-spacing: 0.04em;
    line-height: 2.25em;
    margin-bottom: 32px;
    margin: 0;
    max-width: 280px;
  }

  &__name {
    text-align: center;
    font-size: 20px;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 500;
    padding-top: 32px;
    max-width: 280px;
  }

  &__pagination {
    height: 20px;
  }
}
